NODE_ENV=development

BASE_URL=http://127.0.0.1

PORT=5000

DB_USER=postgres
DB_PASS=password
DB_NAME=dbname
DB_HOST=127.0.0.1
DB_DIALECT=postgres
DB_PORT=5432

CORS="*, http://localhost:3000"

TOKEN_HOST="http://localhost:80"

MINIO_ACCESS_KEY=secret-key
MINIO_SECRET_KEY=secret-key
MINIO_PORT=9000
MINIO_ENDPOINT=localhost
MINIO_SSL=false

AMQP_URI="amqp://localhost:5672"
